{% extends 'layout.html' %}

{% block content %}

{% from "includes/formhelpers.html" import render_field %}
    <h3>Giriş Yapın</h3>
    <hr>
    <!--Giriş Formu Ekleme-->
    <div class="container">
    <form method=post>
        {{ render_field(form.username, class='form-control') }}
        {{ render_field(form.password, class='form-control') }}
        <button type="submit" class="btn btn-primary w-100" >Giriş Yap</button>
    </form>
    </div>
    <!--Register Formu Ekleme Son-->



{% endblock %}